/* Обновленные стили для .pnl */
.pnl {
  display: flex;
  flex-wrap: wrap; /* Даем возможность компонентам переноситься на новую строку, если они не помещаются */
  gap: 20px; /* Добавим отступ между левой и правой панелью */
  width: 100%; /* Обеспечим полную ширину контейнера */
  margin-top: 20px;
}

/* Стиль для левой панели */
.pnl-right {
  background-color: #fff;
  border-radius: 10px;
  height: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden; /* Убираем возможную прокрутку внутри */
  max-width: 600px; /* Ограничиваем максимальную ширину */
  width: 100%; /* Позволяем сжиматься при уменьшении экрана */

}

/* Правая панель (график) */
.pnl-left {
  background-color: #fff;
  border-radius: 10px;
  height: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 920px; /* Ограничиваем максимальную ширину */
  width: 100%; /* Позволяем сжиматься при уменьшении экрана */
}
