/* Общие стили для всей страницы */
.dashboard {
  display: flex;
  flex: 1; /* Растягиваем на всю доступную ширину */
  flex-direction: column;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  height: 100vh; /* Высота экрана */
  overflow-y: auto; /* Включаем вертикальную прокрутку */
  
}
/* Стили для заголовков и других элементов */
.Header, .TimeFrameSelector, .Stats, .ContainerStatus, .PNL {
  margin-bottom: 20px;
}

.divider {
  margin: 10px 0;
  border: 1px solid #ddd;
}
