.security {
  flex: 1; /* Занимает все оставшееся пространство */
  height: 100vh;
  overflow-y: auto; /* Включаем скролл только внутри Body */
  padding: 20px; /* Отступ для контента */
  background-color: #F3F3F3;
}

