/* Обновленные стили для .pnl */
.pnl-page{
  display: flex;
  flex-direction: column;
  margin-left: 321px;
  padding: 20px;
  width: 100%; 
  max-width: 1550px;
  box-sizing: border-box; 
}

.divider {
  margin: 10px 0; 
  border: 1px solid #ddd; 
}

.Header, .SelectContainer, .Earnings, .ContainersEarning, .EnergySpent, .Income, .Revenue {
  margin-bottom: 20px; 
}