/* Основной контейнер */
.energy-container {
  max-width: 1550px;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.energy-spent-container{
  display: flex;
  flex-direction: column;
}
/* Заголовок */
.energy-spent-container h1{
  color: black;
  font-family: 'Goldman', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}



/* Основной контейнер для расположения блоков */
.energy-container-left-right {
  display: flex;
  gap: 20px;
  width: 100%;
}

/* Левая часть (контейнер с информацией) */
.energy-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Стилизация блока EnergyBox */
.energy-box {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.energy-box:hover {
  transform: scale(1.03);
}

/* Правая часть (график) */
.energy-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  height: 470px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.energy-right:hover {
  transform: scale(1.03);
}

/* Изображение графика */
.graph-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
}
