@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

.App__inner {
  overflow-y: auto; /* Включаем вертикальную прокрутку */
  background-color: #F3F3F3;
  scroll-behavior: smooth; /* Плавная прокрутка */
  display: flex; /* Размещаем элементы в строку */
  height: 100vh; /* Высота на весь экран */
  overflow-y: auto; /* Включаем вертикальную прокрутку */
}

.MenuBar {
  width: 320px; /* Ширина бокового меню */
  height: 100vh; /* Высота на весь экран */
  position: fixed; /* Фиксируем слева */
  left: 0;
  top: 0;
  background-color: #fff; /* Цвет фона */
  display: flex;
  flex-direction: column; /* Элементы в колонку */
  align-items: center; /* Выравнивание по центру */
  
}

